/* ----- Typos ----- */
@font-face {
    font-family: champagne_limousines;
    src: url(../fonts/Champagne\ &\ Limousines.ttf);
}

/* ----- Couleurs ----- */
$myColorOrange: #ebbd34;
$myColorPurple: #843360;
$purpleDarker: #68264B;
$myColorBckgrnd: #174365;
$myColorLight: #e9f3f9;

/* ----- General ----- */
* {
    font-family: sans-serif;

}

*:focus {
    outline: none;
}

.hidden {
    display: none;
}

html {
    background-color: $myColorBckgrnd;
}

body {
    margin: 10px 10vw;
    background-color: $myColorBckgrnd;
}

main {
    min-height: 80vh;
}

/* ----- Header ----- */
header {
    background-color: $myColorBckgrnd;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $myColorOrange;
    *{
    color: $myColorLight;
    }
    img {
        height: 80px;
    }

    button, a {
        font-family: champagne_limousines;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: sans-serif;
    }
}

/* ----- NavBAar ----- */
nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 10px 0;
        border-radius: 10px;
        background-color: $myColorPurple;

        li {
            text-align: center;
            color: white;
            width: 100%;
            padding: 1em;

            &:hover {
                background-color: #68264B;
                border-radius: 10px;
            }
        }
    }
}

/* ----- Aside ----- */
.patientResume {
    background-color: $myColorOrange;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-family: "typeMachine", serif;
    margin: 10px 0;
    border-radius: 10px;
    align-items: center;

    &:nth-child(even) {
        background-color: $myColorPurple;
        color: $myColorLight;
    }
    .icon{
        height: 40px;
        padding: 0;
    }
}

#addPatient {
    padding: 1em;
}

.patientInfo {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 1em;
    align-items: center;
    .profilPic {
        width: 100px;
        height: 100px;
        display: flex;
        margin: auto;
        padding: 0.5em;
    }

    >* {
        margin: 0 ;
        text-align: left;
    }

    :nth-child(1) {
        grid-column: 1;
        grid-row: 1 /span 3;
    }

    :nth-child(2) {
        grid-column: 2 /span 3;
        grid-row: 1;
    }

    :nth-child(3) {
        grid-column: 2 /span 3;
        grid-row: 2;
    }

    :nth-child(4) {
        grid-column: 2;
        grid-row: 3;
    }

    :nth-child(5) {
        grid-column: 3;
        grid-row: 3;
    }
}

.checkPills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 1em;

    >* {
        margin: 0 auto;
    }

    :nth-child(1) {
        grid-column: 1 /span 3;
        grid-row: 1;
    }

    :nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    :nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    :nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    :nth-child(5) {
        grid-column: 2;
        grid-row: 3;
    }

    :nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }

    :nth-child(7) {
        grid-column: 3;
        grid-row: 3;
    }
}

.constantes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px 1em;

    >* {
        margin: 0 auto;
        display: flex;
    }

    :nth-child(1) {
        grid-column: 1 /span 4;
        grid-row: 1;
    }

    :nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    :nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    :nth-child(4) {
        grid-column: 3;
        grid-row: 2;
    }

    :nth-child(5) {
        grid-column: 4;
        grid-row: 2;
    }

    :nth-child(6) {
        grid-column: 1;
        grid-row: 3;
    }

    :nth-child(7) {
        grid-column: 2;
        grid-row: 3;
    }

    :nth-child(8) {
        grid-column: 3;
        grid-row: 3;
    }

    :nth-child(9) {
        grid-column: 4;
        grid-row: 3;
    }
}

/* ----- Main ----- */

/* ----- Article ----- */
article {
    border: solid 4px #f1bd1a;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin: 10px 0;
    display: flex;
    flex-direction: column;

    * {
        margin: 1em;
    }
}

/*----- Notes -----*/

#notesContainer section {
    display: flex;
    justify-content: space-around;
}

article h3 {
    margin-bottom: 0;
}

.notes {
    width: 50%;
    height: 25vh;
    overflow: scroll;
    background-color: white;
    border: solid 4px #f1bd1a;
    border-radius: 10px;
    padding: 5px;
    color: black;

    >* {
        font-family: Arial, Helvetica, sans-serif;
    }

    .whoWrote {
        color: #843360;
        font-weight: normal;
    }
    .textNote{
        padding-right: 1em;
    }
    .delete {
        margin: 0;
        float: right;
        &:hover{
            color: red;
        }
    }
}

#notesContainer {
    form {
        display: flex;
        flex-direction: column;

        * {
            margin: 0.5em;
        }

        input {
            background-color: #843360;
            color: $myColorLight;
            font-size: large;
            border-radius: 10px;
        }
    }
}

/* ----- Formulaire ----- */
.formulaire {
    width: auto;
    margin: auto;
    text-align: center;

    * {
        padding: 0;
        color: $myColorLight;
    }

    h2 {
        color: $myColorOrange;
        letter-spacing: 3px;
        font-size: 40px;
        margin: 2em;
    }

    .form {
        width: auto;
        margin: 2em auto;

        fieldset {
            margin: auto;
            width: 350px;
            height: 75px;
            border: solid 4px $myColorOrange;
            border-radius: 10px;
            text-align: left;

            legend {
                margin-left: 20px;
                padding: 10px;
            }

            input {
                width: inherit;
                height: 100%;
                background-color: $myColorBckgrnd;
                border: none;
                padding-left: 10px;
                border-radius: 10px;
            }

            .radio {
                display: flex;

                input {
                    width: 50px;
                }
            }
        }

        #loginBtn,
        #registerBtn {
            margin: auto;
            width: 358px;
            height: 70px;
            background-color: $myColorOrange;
            border: solid 4px $myColorOrange;
            border-radius: 10px;
            color: $myColorBckgrnd;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                background-color: $myColorPurple;
                border-color: $myColorPurple;
                color: $myColorLight;
            }
        }

        .form_bottom {
            margin: 2em auto;
            width: 100%;
            align-items: center;
            text-decoration: underline;
            font-size: 1em;

            button {
                background: none;
                border: none;
                font-size: 1em;
            }
        }
    }

}

/* ----- Footer ----- */
footer {
    background-color: $myColorBckgrnd;
    padding: 10px;
    color: $myColorLight;
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    border-top: solid 1px $myColorOrange;
}